{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 class="mb-4">Latest Posts</h2>

<div class="row">
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card mb-4">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="text-muted">By {{ post.author }} | {{ post.created_date|date:"M d, Y" }}</p>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No posts available.</p>
  {% endfor %}
</div>
{% endblock %}