{% extends 'base.html' %}

{% block content %}
<h2>Create Post</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label>Title</label>
    <input type="text" name="title" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Content</label>
    <textarea name="content" class="form-control" rows="5"></textarea>
  </div>

  <div class="mb-3">
    <label>Image</label>
    <input type="file" name="image" class="form-control">
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}