{% extends 'base.html' %}

{% block content %}
<h2>Edit Post</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label>Title</label>
    <input type="text" name="title" value="{{ post.title }}" class="form-control">
  </div>

  <div class="mb-3">
    <label>Content</label>
    <textarea name="content" class="form-control">{{ post.content }}</textarea>
  </div>

  <div class="mb-3">
    <label>Image</label>
    <input type="file" name="image" class="form-control">
  </div>

  <button class="btn btn-warning">Update</button>
</form>
{% endblock %}